{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block css %}
<style>
  a{
    text-decoration:none;
    color:white;
  }
  a:hover, a:active {
    color: #7f1313;
  }
  #links{
    font-size:42px;
  }
  #howTo{
    font-size:60px;
  }
  h1{
    font-size:100px;
  }
  h2{
    font-size:50px;
  }
</style>
{% endblock %}
{% block body %}
  <h1>Poker Central</h1>
  <br>
  {% if session['username'] %}
  <div id="links">
    <a href="/logout">Logout</a><br>
    <a href="/join_lobby">Play Poker</a><br>
  </div>
  {% else %}
  <div id="links">
    <a href="/login">Login</a><br>
    <a href="/register">Register</a><br>
    <a href="/join_lobby">Play Poker</a><br>
  </div>
  {% endif %}
  <br>
  <a href="https://www.cardplayer.com/rules-of-poker/how-to-play-poker/games/texas-holdem" id="howTo">HOW TO PLAY</a>
  <p>Poker Combinations:</p>
  <img src="../static/PokerHands.jpg">

{% endblock %}
