{% extends "base.html" %}
{% block title %} Play {% endblock %}
{% block css %}
<style>
	body{
		background:#35654d;
	}
	#left{
		width:1250px;
	}
	.btn{
		height:50px;
		width:100px;
		background:gray;
		margin:3px;
		border:2px solid black;
		border-radius: 4px;
		color:white;
		font-size:20px;
		outline:0px;
	}
	#raiseButton{
		width:200px;
	}
	#kickButton{
		width:200px;
	}
	#timer{
		font-size:50px;
	}
	#pot{
		font-size:50px;
	}
	.btn:hover {
		background-color:white;
		color:black;
		transition: 0.3s;
		border:2px solid black;
		box-shadow:none;
	}
	.dealer{
		color:red;
	}
	#return{
		font-size:100px;
	}
	#returnButton{
		height:50px;
		width:200px;
		background:gray;
		margin:3px;
		border:2px solid black;
		border-radius: 4px;
		color:white;
		font-size:20px;
		outline:0px;
	}
	#returnButton:hover {
		background-color:white;
		color:black;
		transition: 0.3s;
		border:2px solid black;
		box-shadow:none;
	}

</style>
{% endblock %}

{% block body %}
<p id="username" hidden=true>{{username}}</p>
<p>Room Code:</p>
<p id="room_code">{{room_code}}</p>
<div id="lobbyhui">
	<div>
		<p> Waiting for lobby to start! </p>
	</div>
</div>

<div id="gamehui">
<div class="parent-container d-flex">
	<div class="container" id="left">
		<div class="row">
				<div class="col">
					<p id="user1">{{player_list[1][0]}}</p>
					<p id="money1">${{player_list[1][1]}}</p>
					<p class="dealer" id="dealer1" hidden="True">Dealer</p>
				</div>
			<div class="col">
				 <img id="p1c1" src="/static/card_svgs/back.svg" height="130px" />
			</div>
			<div class="col">
				<img id="p1c2" src="/static/card_svgs/back.svg" height="130px" />
			</div>
			<div class="col">
				Bet:
				<p id="bet1">$0</p>
			</div>
		</div><br/>
		<div class="row">
			<div class="col">
				<p id="user2">{{player_list[2][0]}}</p>
				<p id="money2">${{player_list[2][1]}}</p>
				<p class="dealer" id="dealer2" hidden="True">Dealer</p>
			</div>
			<div class="col">
				<img id="p2c1" src="/static/card_svgs/back.svg" height="130px" />
			</div>
			<div class="col">
				<img id="p2c2" src="/static/card_svgs/back.svg" height="130px" />
			</div>
			<div class="col">
				Bet:
				<p id="bet2">$0</p>
			</div>
		</div><br/>
		<div class="row">
			<div class="col">
				<p id="user3">{{player_list[3][0]}}</p>
				<p id="money3">${{player_list[3][1]}}</p>
				<p class="dealer" id="dealer3" hidden="True">Dealer</p>
			</div>
			<div class="col">
				<img id="p3c1" src="/static/card_svgs/back.svg" height="130px" />
			</div>
			<div class="col">
				<img id="p3c2" src="/static/card_svgs/back.svg" height="130px" />
			</div>
			<div class="col">
				Bet:
				<p id="bet3">$0</p>
			</div>
		</div><br/>
		<div class="row">
			<div class="col">
				<p id="user4">{{player_list[4][0]}}</p>
				<p id="money4">${{player_list[4][1]}}</p>
				<p class="dealer" id="dealer4" hidden="True">Dealer</p>
			</div>
			<div class="col">
				<img id="p4c1" src="/static/card_svgs/back.svg" height="130px" />
			</div>
			<div class="col">
				<img id="p4c2" src="/static/card_svgs/back.svg" height="130px" />
			</div>
			<div class="col">
				Bet:
				<p id="bet4">$0</p>
			</div>
		</div><br/>
		<div class="row">
			<div class="col">
				<p id="user5">{{player_list[5][0]}}</p>
				<p id="money5">${{player_list[5][1]}}</p>
				<p class="dealer" id="dealer5" hidden="True">Dealer</p>
			</div>
			<div class="col">
				<img id="p5c1" src="/static/card_svgs/back.svg" height="130px" />
			</div>
			<div class="col">
				<img id="p5c2" src="/static/card_svgs/back.svg" height="130px" />
			</div>
			<div class="col">
				Bet:
				<p id="bet5">$0</p>
			</div>
		</div>
	</div>
	<div class="container" id="right">
		<div class="row">
			<div class="col" class="timer">
				Timer:
				<p id="timer">30</p>
			</div>
		</div>
		<div class="row">
			<div class="col" class="pot">
				Pot:
				<p id="pot">$0</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<img id="commc1" src="/static/card_svgs/back.svg" height="280px" />
			</div>
			<div class="col">
				<img id="commc2" src="/static/card_svgs/back.svg" height="280px" />
			</div>
			<div class="col">
				<img id="commc3" src="/static/card_svgs/back.svg" height="280px" />
			</div>
			<div class="col">
				<img id="commc4" src="/static/card_svgs/back.svg" height="280px" />
			</div>
			<div class="col">
				<img id="commc5" src="/static/card_svgs/back.svg" height="280px" />
			</div>
		</div><br>
		<button id="foldButton" class="btn" disabled=true>Fold</button><br>
		<button id="checkButton" class="btn" disabled=true>Check</button><br>
		<button id="callButton" class="btn" disabled=true>Call</button><br>
		<button id="raiseButton" class="btn" disabled=true>Raise By $100</button>
		<br>
		<button id="kickButton" class="btn" disabled=true>Kick Player</button>
	</div>
</div>
</div>

<div id="results" hidden=True>
	The Winner Is:
	<p id="winner"></p>
	Amount Won:
	<p id="finPot"></p>
	<form action="/" method="post">
		<input type="submit" id="returnButton" value="Return Home">
	</form>
</div>

<script src="../static/js/poker.js"></script>


{% endblock %}
